<% if @user == @current_user %>
  Oh hey, it's you!
<% else %>
  <%= @user.name %> is who you are viewing, <%= @current_user.name %>.
<% end %>

<% @user.products.each do |product| %>
  <div>
    <%= product.name %>
  </div>
<% end %>
