<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-12 mx-auto">
      <div class="card card-signin my-5 padding-s">
        <h1 class="my-4"><%= @user.name %> Store
          <small>
            <% if @is_current_user %>
              Manage your auctions
              <%= render 'users/partials/income' %>
              <div style="text-align:right;">
                <%= link_to 'Create a new product', new_users_product_path, class: "btn btn-lg btn-primary" %>
              </div>
            <% else %>
              Buy some stuff!
            <% end %>
          </small>
        </h1>

        <% @products.each do |product| %>
          <% next if !@is_current_user && !product.offered %>
          <%= render 'users/partials/product', { product: product } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
